# Dictionarys

In [35]:
acronyms={} # create empty dictionary
print (acronyms)

{}

In [36]:
acronyms['lol'] = "laughing out loud"
print (acronyms)

{'lol': 'laughing out loud'}

In [37]:
len(acronyms)

1

In [38]:

acronyms['tty'] = "talk to you later"
acronyms['bfn'] = "bye for now"
print (acronyms)

{'lol': 'laughing out loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [39]:
len(acronyms)

3

In [40]:
acronyms['lol'] = "Laughing Out Loud"
print (acronyms)

{'lol': 'Laughing Out Loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [41]:
acronyms['lol'] = "Laughing Out Loud"
print (acronyms)

{'lol': 'Laughing Out Loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [42]:
len(acronyms)

3

In [43]:
acronyms = {'bfn': 'bye for now', 'tty': 'talk to you later', 'lol': 'laughing out loud'}

In [44]:
acronyms

{'bfn': 'bye for now', 'tty': 'talk to you later', 'lol': 'laughing out loud'}

In [45]:
#Example: Store the employee records indexed by SS#
Employees = {456965079: 'David Smith', 
             823878356: 'Lisa Miller',
             813756744: 'Pat Murphy'  }

In [46]:
Employees

{456965079: 'David Smith', 823878356: 'Lisa Miller', 813756744: 'Pat Murphy'}

In [47]:
if 456965079 in Employees:
    print(Employees[456965079])
else:
    print("This SSN doesn't exist in our data base")

David Smith

In [48]:
x= 488965079
if x in Employees:
    print(Employees[x])
else:
    print("This SSN doesn't exist in our data base")

This SSN doesn't exist in our data base

In [49]:
x=456965080
if x in Employees:
    print(Employees[x])
else:
    print("This SSN doesn't exist in our data base")
    name=input("Enter the New Employees name\n")
    Employees[x]= name
    print(f"We just added {name} to our database")

Employees

This SSN doesn't exist in our data base

Enter the New Employees name
 Tom Hanks

We just added Tom Hanks to our database

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Tom Hanks'}

In [50]:
def checkE(x, data):
    if x in data:
        print(data[x])
    else:
        print("This SSN doesn't exist in our data base")
        name=input("Enter Employees name\n")
        data[x]= name
        print(f"We just added {name} to our database")

In [54]:
checkE(8999987898,Employees)

This SSN doesn't exist in our data base

Enter Employees name
 Tina Benson

We just added Tina Benson to our database

In [55]:
Employees

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Tom Hanks',
 899998998: 'Larry Mills',
 8999987898: 'Tina Benson'}

In [56]:
newd=[1234, 56, 87]
for i in newd:
    checkE(i,Employees)
Employees

This SSN doesn't exist in our data base

Enter Employees name
 Indiana Jones

We just added Indiana Jones to our database
This SSN doesn't exist in our data base

Enter Employees name
 Larry Page

We just added Larry Page to our database
This SSN doesn't exist in our data base

Enter Employees name
 Hillary Ranger

We just added Hillary Ranger to our database

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Tom Hanks',
 899998998: 'Larry Mills',
 8999987898: 'Tina Benson',
 1234: 'Indiana Jones',
 56: 'Larry Page',
 87: 'Hillary Ranger'}

In [57]:
#dictionary of dictionarys
Employees2 = {456965079: {'name':'David Smith','salary':100000}, 
             823878356: {'name':'Lisa Miller','salary':120000}
            }

In [58]:
len(Employees2)

2

In [59]:
print(Employees2)

{456965079: {'name': 'David Smith', 'salary': 100000}, 823878356: {'name': 'Lisa Miller', 'salary': 120000}}

In [60]:
#Biggest Salary
max(Employees2[823878356]['salary'] ,  Employees2[456965079]['salary'])

120000

In [61]:
len(Employees)

9

In [62]:
print(Employees)

{456965079: 'David Smith', 823878356: 'Lisa Miller', 813756744: 'Pat Murphy', 456965080: 'Tom Hanks', 899998998: 'Larry Mills', 8999987898: 'Tina Benson', 1234: 'Indiana Jones', 56: 'Larry Page', 87: 'Hillary Ranger'}

In [ ]:
Employees[813756744]

In [ ]:
Employees[823878356]

In [63]:
# Another example
inventory = {'apples':430, 'pears':217, 'oranges':525, 'bananas':312}

In [64]:
print(inventory)

{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 312}

In [65]:
inventory.keys()

dict_keys(['apples', 'pears', 'oranges', 'bananas'])

In [66]:
inventory.values()

dict_values([430, 217, 525, 312])

In [67]:
inventory.items()

dict_items([('apples', 430), ('pears', 217), ('oranges', 525), ('bananas', 312)])

In [68]:
inventory.get('grape',0)

0

In [ ]:
inventory.get('apples',0) + inventory.get('grapes',0)

In [ ]:
for akey in inventory.keys(): 
      print("Got key", akey, "which maps to value", inventory[akey])

In [ ]:
print(inventory['bananas'])

In [ ]:
inventory['pears'] + 300

In [ ]:
print (inventory)
inventory['bananas']= inventory['bananas']  + 200

In [ ]:
inventory = {'apples':430, 'pears':217, 'oranges':525, 'bananas':312}
print (inventory)

inventory['bananas'] += 200
print (inventory)

In [ ]:
print (inventory)

### Mergeing Dictionaries

In [ ]:
# Mergeing Dictionaries with **
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =  {**inventory1, **inventory2}
print(inventory)

In [ ]:
# Mergeing Dictionaries with **
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =   inventory1 | inventory2
print(inventory)

In [ ]:
test1={}

In [ ]:
test1['a']=input("Enter Age\n")

In [ ]:
print(test1)

In [ ]:
# Mergeing Dictionaries with update method
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =  {}
inventory.update(inventory1)
print(inventory)
inventory.update(inventory2)

print(inventory)

### Iterating through dictionaries or dictionary transversal

In [ ]:
for item in inventory:
    print (item)

In [ ]:
for item in inventory.keys():
    print (item)

In [ ]:
for item in inventory.values():
    print (item)

In [ ]:
for item in inventory.items():
    print (item)

In [ ]:
for item in inventory.items():
    key,value = item
    print (value)

In [ ]:
for item in inventory.items():
    key,value = item
    print (value, "of value at this key",key)

In [ ]:
for key,value in inventory.items():
    print (value, "of value at this key",key)

### Dictionary Comprehension

In [ ]:
#remember list comprehension
squares=[i**2 for i in [1,2,3]]

print(squares)

In [ ]:
# dictionary version
xyz = {'x': 1, 'y': 2, 'z': 3}
# Square each value in the dictionary
square_xyz = {i:j**2 for (i,j) in xyz.items()}
print(square_xyz)

In [ ]:
# dictionary version
xyz = {'x': 1, 'y': 2, 'z': 3}
# Square each value in the dictionary
square_xyz = {"squared_"+i:j**2 for (i,j) in xyz.items()}
print(square_xyz)

In [ ]:
temperatures = [88, 94,102, 99, 101,98,95,100]
# print convert temperatures 

[(t-32) * 5/9 for t  in temperatures]

In [ ]:
temperatures ={"t1":88, "t2":94,"t3":102,"t4":99, 
               "t5":101,"t6": 98,"t7":95,"t8":100}
# print convert temperatures 

{i:(j - 32) * 5/9   for (i,j) in temperatures.items()}

In [ ]:
if 456965079 in Employees:
    print(Employees[456965079])
else:
    print("This SSN doesn't exist in our data base")

In [ ]:
# Dictionaries are mutable objects so you should expect the same behavior we learned with lists.

opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites
print(alias is opposites)
alias['right'] = 'left'
print(opposites['right'])

In [ ]:
print(alias is opposites)

In [ ]:
#If you really want to create a copy of the dictionary use the dictionary copy method:

opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
acopy = opposites.copy()
print(acopy is opposites)
acopy['right'] = 'left'
print(opposites['right'])

In [ ]:
acopy is opposites

## Sparse Matrices

In [ ]:
matrix =[[0,0,0,1,0],
         [0,0,0,0,0],
         [0,2,0,0,0],
         [0,0,0,0,0],
         [0,0,0,3,0]]

In [ ]:
print (matrix)

In [ ]:
matrix2 = {(0, 3): 1, (2, 1): 2, (4, 3): 3}

In [ ]:
matrix2

In [ ]:
print (matrix2[0,3])

In [ ]:
print (matrix2.get((2,1),0))

In [ ]:
print(matrix2.get((9, 3), "entry does not exist"))

In [1]:
engineers = {'John', 'Jane', 'Jack', 'Janice'}
programmers = {'Jack', 'Sam', 'Susan', 'Janice'}
managers =   {'Jane', 'Jack', 'Susan', 'Zack'}

In [3]:
type(engineers)

set

In [4]:
engineers & programmers

{'Jack', 'Janice'}

In [5]:
programmers & managers

{'Jack', 'Susan'}

In [6]:
managers - programmers - engineers

{'Zack'}

In [7]:
employees= engineers | programmers | managers
employees

{'Jack', 'Jane', 'Janice', 'John', 'Sam', 'Susan', 'Zack'}

In [8]:
employees.add("Jane")
employees

{'Jack', 'Jane', 'Janice', 'John', 'Sam', 'Susan', 'Zack'}

In [9]:
employees.add("Tom")
employees

{'Jack', 'Jane', 'Janice', 'John', 'Sam', 'Susan', 'Tom', 'Zack'}

In [12]:
employees.remove("Tom")

In [13]:
employees

{'Jack', 'Jane', 'Janice', 'John', 'Sam', 'Susan', 'Zack'}

In [14]:
engineers.add("Marvin")

In [15]:
engineers

{'Jack', 'Jane', 'Janice', 'John', 'Marvin'}

In [16]:
programmers.issubset(employees)

True

In [17]:
employees.issuperset(programmers)

True

In [18]:
employees.issuperset(engineers)

False

In [19]:
employees.update(engineers)

In [20]:
employees

{'Jack', 'Jane', 'Janice', 'John', 'Marvin', 'Sam', 'Susan', 'Zack'}

In [21]:
employees.issuperset(engineers)

True

In [ ]:
a=set()

In [25]:
a=list()

In [31]:

for i in range(97,109):
    a.append(i)
print (a)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108]

In [33]:
a1= set (a)

In [34]:
a1

{97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108}